/*************************************
  --- Authors Styles
 *************************************/
body main {
    background-color: #141414;
}

.art-container {
	position: relative;
	width: 100%;
	background-color: #141414;
	padding-bottom: 2rem;
}

.art-container ul {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(auto-fit, 28rem); */
    grid-template-rows: repeat(auto-fit, 1fr);
    /* grid-gap: 2rem; */
    gap: 1.5rem;
}

.image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
	height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.small-tile {
    grid-row: span 1;
    grid-column: span 1;
}

.small-wide-tile {
    grid-row: span 1;
    grid-column: span 2;
}

.small-tall-tile {
    grid-row: span 2;
    grid-column: span 1;
}

.medium-tile {
    grid-row: span 2;
    grid-column: span 2;
}

.medium-wide-tile {
    grid-row: span 2;
    grid-column: span 3;
}

.medium-tall-tile {
    grid-row: span 4;
    grid-column: span 2;
}
.medium-tall-wider-tile {
    grid-row: span 4;
    grid-column: span 3;
}

.large-tile {
    grid-row: span 3;
    grid-column: span 3;
}
.large-wide-tile {
    grid-row: span 3;
    grid-column: span 5;
}
.huge-short-wide-tile {
    grid-row: span 4;
    grid-column: span 6;
}
.large-tall-tile {
    grid-row: span 5;
    grid-column: span 3;
}
.huge-tall-skinny-tile {
    grid-row: span 6;
    grid-column: span 4;
}
.huge-very-tall-tile {
    grid-row: span 8;
    grid-column: span 4;
}
.huge-tile {
    grid-row: span 4;
    grid-column: span 4;
}
.huge-wide-tile {
    grid-row: span 4;
    grid-column: span 7;
}
.huge-very-wide-tile {
    grid-row: span 4;
    grid-column: span 8;
}
.huge-tall-tile {
    grid-row: span 7;
    grid-column: span 4;
}
li.two-images {
    display: flex;
    flex-direction: row;
}

/*************************************
  --- Media Queries
 *************************************/

/* @media only screen and (max-width: 1200px) {
    .art-container ul li {
        display: flex;
        width: 30rem;
        height: auto;
        align-items: center;
        overflow: hidden;
    }
} */