
html {
    box-sizing: border-box;
    font-size: 16px;	
    font-size: 62.5%;/* 62.5% of 16 = 10 */
    margin: 0 auto;
    background-color: #252424;
    color: #000;
    min-height: 100%;
} 
  
*, *:before, *:after 
{
    box-sizing: border-box;
}

body {
    /* width: 102.4rem; */
    /* min-width: 1024px; */
    min-width: 768px;
    max-width: 1903px;
    min-height: 900px;
    font: 1.6rem/1.5 arial, sans-serif;
    margin: 0 auto;
}

/*************************************
  --- Authors Styles 
 *************************************/
header {
    position: relative;
    width: 100%;
    height: 5.8rem;
    background-color: #141414;
    /* box-shadow: 0 20px 100px 20px #0ca5c0; */
}

h1{
    position: absolute;
    display: inline-block;
    height: 100%;
    left: 25%;
    top: 0%;
    z-index: 100;
    display: flex;
    align-items: center;
    font: 3rem/2.0 garamond, arial, sans-serif;
}
h1 a {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
h1 a img {
    height: 5rem;
    width: auto;
    /* Blends the alt text into the background of the header. */
    color: #141414;
}
h1 span {
    padding-left: 1rem;
}

main {
    position: relative;
    /* max-width: 951.5px; */
    width: 50%;
    min-height: 90rem;
    /* width: 951.5px; */
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
}

main h2, main h3 {
    /* font-weight: bold; */
    padding-bottom: 0.5rem;
}
main section {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2rem;
}
#mainNavigation{
    position: absolute;
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    /* height: 30rem; */
    height: 70rem;
    background-color: #141414;
}
/* footer nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
footer nav ul {
    width: 20%;
    text-align: center;
}

footer nav ul li h2 {
    margin-top: 2rem;
    color: #fff;
    font: 2.2rem/1 arial, sans-serif;
    margin-bottom: 1.5rem;
} */

img {
    width: 100%;
    height: auto;
}

main img:nth-of-type(1){
    margin-bottom: 2rem;
}
article {
    /* margin-bottom: 3rem; */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #141414;
}
article h2 {
    font-weight: bold;
    padding-left: 2rem;
}
article p {
    padding-bottom: 2rem;
    font: 1.6rem/1.5 'Raleway', arial, sans-serif;
}
article img {
    width: 5rem;
    height: auto;
    margin-bottom: 0;
}
.box {
   display: flex;
   align-items:center;
}

.gallery-container {
    position: relative;
    width: 100%;
    background-color: #141414;
}
.gallery-container h2 {
    font-size: 4rem;
    text-align: center;
    color: #fff;
}
.gallery-container ul {
    width: 100%;
    min-height: 90rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.gallery-container ul li{
    display: flex;
    height: auto;
    width: 30%;
    align-items: center;
}
.gallery-container ul li img {
    width: 100%;
    height: auto;
}
b{
    font-weight: 900;
}
i {
    font-style: italic;
}
.large-text{
    font-size: 4rem;
}
.half-horizontal-size{
    width: 50%;
    height: auto;
}
.horizontal-center{
    margin-left: 25%;
}
.special-message {
    font: 2rem/1.5 'Raleway', arial, sans-serif;
    text-align: center;
    color: #000;
    padding: 3rem;
    border-top: 0.1rem solid #292f49;
}
main li {
    font-family: 'Raleway', arial, sans-serif;
}
#news-articles article:first-of-type{
    border-top: 1px solid #ccc;
}
#news-articles article{
    position: relative;
    width: 40%;
    min-width: 364px;
    /* height: 10rem; */
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #ccc;
}
#news-articles article h3 a{
    font-size: 2rem;
}
#news-articles article ul li:last-child{
    position: absolute;
    right: 3%;
}

.gallery-container img {
    /* transition: all 1s ease-in-out; */
    /* transition-timing-function: ease; */
    /* transform: translateY(10%); */
    /* transition-timing-function: ease-in; */
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}
.gallery-container img:hover {
    transform: scale(1.1);
}

/*************************************
  --- Form Styles 
 *************************************/
form {
    width: 100%;
}
fieldset {
    width: 100%;
}
form ul {
    width: 50%;
    margin: 0 auto;
}
form ul li {
    width: 100%;
}
input, textarea {
    padding-left: 1rem;
    font-family: arial, sans-serif;
    font-size: 1.6rem;
}
main input, main textarea {
    width: 100%;
    border-radius: .5rem;
    min-height: 3rem;
}
footer input, footer textarea  {
    width: 28.5rem;
    border-radius: .5rem;
    min-height: 3rem;
    background-color: #252424;
    border-color: #252424;
    color: #fff;
}
main textarea {
    resize: none;
    height: 20rem;
}
footer textarea {
    resize: none;
    height: 9rem;
}
header form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
header form input, header form ul {
    position: absolute;
    width: 20rem;
    border-radius: 2rem;
    right: 25%;
    padding-left: 1rem;
    outline: none;
    z-index: 99;
}
header form ul {
    display: none;
    width: 18rem;
    height: 300px;
    top: 4rem;
    margin-right: 1rem;
    z-index: 98;
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 2px 5px 5px #141414;
}
.left-background {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 25%;
    z-index:-1; 
}
footer input[type="submit"] {
    display: inline-block;
    text-align: center;
    background-color: #284b2b;
    border-width: 0;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}
footer input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background-color: #32b33d;
    color: #fff;
}
input[type="reset"] {
    width: 15%;
    background-color: #962424;
    border-width: 0;
    font-size: 1.5rem;
    color: #fff;
}
input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus {
    background-color: #b33232;
    color: #fff;
}
.contact-form li:last-of-type, .contact-form li:nth-last-of-type(2){
    width: 50%;
    float: left;
}
header form button {
    position: absolute;
    right: 25%;    
    font-size: 1.5rem;
    color: #7a7a7e;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff00;
    border-color: #ffffff00;
    outline: none;
    z-index: 100;
}
header form button:hover, header form button:active{
    color: #292f49;
}
header form #searchBarResultList.search-bar-result-list{
    display: block;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 25% 0 25%;
}
footer .social-media-icons {
    display: flex;
    width: 100%;
    font-size: 5rem;
    color: #fff;
    flex-direction: row;
    justify-content: center;
}
footer .social-media-icons li a {
    margin: 1rem;
}
footer label {
    color: #fff;
}
#Btn_submit {
    cursor: pointer;
}
footer form {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
footer form ul {
    margin-top: 3rem;
}
footer form ul li {
    display: flex;
    justify-content: right;
}


/*************************************
  --- Navigational behaviours
 *************************************/
.fa-discord:hover {
    position: relative;
    color: #7289DA;
}
.fa-twitter:hover {
    color: #1da1f2;
}
.fa-linkedin:hover {
    color: #2867b2;
}
a {
    display: inline-block;
    text-decoration: none;
}
a:link, a:visited {
    color: #fff;
}
main section a:link, main section a:visited {
    /* padding: 1rem; */
    color: #4f8295;
    border-radius: .5rem;
    font-size: 1.2rem;
}
main section a:hover {
    /* padding: 1rem; */
    color: #78c2dd;
    border-radius: .5rem;
}
header div {
	margin-top: 1rem;
	height: 5rem;
	width: 100%;
	background-color: #292f49;
}
nav ul {
    position: relative;
    width: 100%;
    background-color: #14141457;
}
nav ul li {
    box-shadow: 0 10px 6px -6px #141414;
}
nav ul li a{
	color: #f2eddb;
    padding: 1.5rem 0%;
    width: 100%;
}
nav.side-bar ul li a{
    padding-left: 10rem;
}
nav.side-bar li:nth-of-type(1):hover a{
	background-color: #b81b1b;
}
nav.side-bar li:nth-of-type(2):hover a{
	background-color: #55b81b;
}
nav.side-bar li:nth-of-type(3):hover a{
	background-color: #1b93b8;
}
nav.side-bar li:nth-of-type(4) a{
    color: #777879;
}
/* nav.side-bar li:nth-of-type(4):hover a{
    background-color: #5f1bb8;
} */
nav.side-bar li:nth-of-type(5):hover a{
	background-color: #b85a1b;
}
nav.side-bar li:nth-of-type(6):hover a{
	background-color: #1baeb8;
}
/* footer nav li:hover a { */
    /* background-color: #2e2c2c; Leave out*/
    /* border-bottom: .2rem solid #2e2c2c; Leave out*/
   /* font-size: 18px;
   color: #cacaca;
   padding-bottom: 1.2rem;
} */

#fancyNav {
    position: fixed;
    min-width: 256px;
    max-width: 475.75px;
    width: 25%;
    margin-top: 10rem;
    right: 75%;
    z-index: 100;
}

#fancyNav.unstick-nav {
    position: absolute;
    width: 50%;
    bottom: 0;
    left: -50%;
    min-width: 0px;
}

.blog-post-navigation a {
    color: #4f8295;
    font-size: 3rem;
}
.blog-post-navigation a:hover {
    color: #78c2dd;
}


/*************************************
  --- Unity Game Styles
 *************************************/
 /*Gives the game an aspect ration of 16:9*/
#gameContainer {
    height: 56.25%;
}

/*************************************
  --- Media Queries
 *************************************/
/*
Is it bad practice to put input elements like buttons outside of forms? "Yes" - Markis Day
What is the width of mobile devices for media queries? "768" - Markis Day
*/
@media only screen and (max-width: 902px) {


/*This is mobile view*/
/* @media only screen and (max-width: 768px) { */
    body {
        width: 100%;
        margin: 0;
        min-width: 364px;
    }
    body header, body main, body footer {
        width: 100%;
        margin: 0;
    }
    body main {
        padding: 0;
    }
    /*Fix this*/
    /* main img {
        width: 100%;
        height: auto;
    } */
    #fancyNav{
        display: none;
    }
    article {
        margin-left: auto;
        margin-right: auto;
    }
}

/* 
@media only screen and (max-width: 1040px) {
    body {
        min-width: 0px;
        width: 100%;
    }
    header, main, footer {
        width: 100%;
    }
    header h1 {
        left: 0;
    }
    header form input, header form button{
        right: 0;
    }
    #fancyNav {
        width: 100%;
        top: 0;
        margin-top: 5.8rem;;
        flex-direction: row;
    }
    #fancyNav ul {
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #fancyNav ul li a{
        padding: 0;
        margin: 0;
    } 
    footer {
        height: 30rem;
    }
}
 */