
html {
    box-sizing: border-box;
    font-size: 16px;	
    font-size: 62.5%;/* 62.5% of 16 = 10 */
    margin: 0 auto;
    background-color: #252424;
    color: #000;
    min-height: 100%;
} 
  
*, *:before, *:after 
{
    box-sizing: border-box;
}

body {
    min-width: 1024px;
    min-height: 900px;
    font: 16px/1.5 arial, sans-serif;
}

/*--- Authors Styles --- */
header {
    width: 100%;
    height: 50px;
    background-color: #141414;
}

h1{
    position: absolute;
    height: 50px;
    left: 25%;
    top: 0;
    z-index: 100;
}
h1 img {
    height: 50px;
    width: auto;
}

main {
    min-height: 900px;
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #141414;
}

main h2 {
    font-weight: bold;
}
main section {
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}

/*--- Form Styles ---*/
form {
    width: 100%;
}
fieldset{
    width: 100%;
}
form ul {
    width: 50%;
    margin: 0 auto;
}
form ul li {
    width: 100%;
}
input,textarea{
    width: 100%;
}
textarea {
    resize: none;
}

header form {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
header form input {
    position: absolute;
    width: 20rem;
    border-radius: 2rem;
    right: 25%;
    padding-left: 10px;
    z-index: 100;
}


/*--- Navigational behaviours --- */
a {
    display: inline-block;
    text-decoration: none;
}

a:link, a:visited {
    color: #fff;
}

header div {
	margin-top: 10px;
	height: 50px;
	width: 100%;
	background-color: #292f49;
}

header nav {
    position: fixed;
    /* margin-top: 50px; */
    width: 100%;
}

nav ul {
    width: 25%;
    background-color: #14141457;
}
nav ul li a{
	color: #f2eddb;
    padding: 15px 0%;
    padding-left: 100px;
    width: 100%;
}
nav li:nth-of-type(1):hover{
	background-color: #b81b1b;
}
nav li:nth-of-type(2):hover{
	background-color: #55b81b;
}
nav li:nth-of-type(3):hover{
	background-color: #1b93b8;
}
nav li:nth-of-type(4):hover{
	background-color: #5f1bb8;
}
nav li:nth-of-type(5):hover{
	background-color: #b85a1b;
}
nav li:nth-of-type(6):hover{
	background-color: #1baeb8;
}